@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.links-navegacion {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  padding-right: 10%;
}
.links-navegacion li {
  margin: 30px;

}


.button {
  background-color: #C41DA1;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenido {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 10%;
}

h1{
    font-size: 60px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 5px;
    color: #C41DA1;
    text-align: center;
}

p{
  color: #979797;
}

img {
  height: 50%;
  width: 50%;
  padding-right: 5%;
}

.contenedor {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


.tarjeta {
  background-color: #fafafa;
  border: 1px #dddfe5 solid;
  border-radius: 10px;
  width: 260px;
  height: 229px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  color: #2e2e31;
}

.seccion-tercearia{
  background-color: #fafafa;
  height: 500px;
  text-align: center;
}

.seccion-cuaternaria{

}
footer{

}

.button-all{
  background-color: #C41DA1;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{

}

.container-proyectos{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.proyecto{
  background-color: #fafafa;
  border: 1px #dddfe5 solid;
  border-radius: 10px;
  width: 260px;
  height: 229px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  color: #2e2e31;
}