@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
  margin: 0;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #2e2e31;
}

header{
  background-color: #fff;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  position: relative;
  width: 100%;
  justify-content: end;

}

.links-navegacion {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding-right: 10%;
  margin: 0;
}

li  {
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
    color: #2e2e31;
    display: block;
    margin: 10px;
}

.button{

}

.button-press{
  background-color: #C41DA1;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.seccion-principal {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenido {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 10%;
}

h1{
    font-size: 60px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 5px;
    color: #C41DA1;
    text-align: center;
}

p{
  color: #979797;
}

.img-pc {
  height: 500px;
  width: auto;
  padding-right: 5%;
}

.seccion-secundaria{
 height: 150vh;
}

.contenedor {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


.tarjeta {
  background-color: #fafafa;
  border: 1px #dddfe5 solid;
  border-radius: 10px;
  width: 260px;
  height: 229px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  color: #2e2e31;
  margin: 10px;
}

.parrafo-conocimientos{
  color: black;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 50px;
  margin-left: 35%;
  margin-right: 35%;
}

.seccion-tercearia{
  background-color: #fafafa;
  height: 500px;
  text-align: center;
}

.seccion-cuaternaria{
  background-color: #fafafa;
  height: 500px;
  justify-content: center;
}


.button-all{
  background-color: #C41DA1;
  color: white;
  height: 50px;
  padding: 15px 40px;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
    border: 0;
    color: #2e2e31;
}

.container-proyectos{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.proyecto{
  background-color: #fafafa;
  border: 1px #dddfe5 solid;
  border-radius: 10px;
  width: 260px;
  height: 229px;
  box-sizing: border-box;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  color: #2e2e31;
}

footer{

}

.menu-hamburguesa{
  display: none;
}

@media(max-width: 1000px){
  .seccion-principal{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media(max-width: 1000px){
  .links-navegacion{
    display: none;
  }
  .menu-hamburguesa{
    display: none;
  }
  .fas{
    display: block;
    margin-right: ;
  }
}