@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.links-navegacion {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
}
.links-navegacion li {
  margin: 20px;
}

.button {
  background-color: #8338ec;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenido {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 30%;
}

h1 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #8338ec;
  text-align: center;
}

img {
  height: 50%;
  width: 50%;
}
